* {
	padding: 0;
	margin: 0;
  }
  
  body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 100vh;
	background-image: url(That.jpeg);
	background-size: cover;
	font-family: Hack, monospace;
  }
  
  /** social links **/
._social-links {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	padding: 1em 0.5em 1em 1em;
	background: #fafafa;
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: -4px 0px 0px hotpink;
	transition: all 300ms ease;
}

._social-links:hover {
	box-shadow: -8px 0px 20px hotpink;
	padding: 1em;
}

._links-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
._social-link a {
	color: #111;
	font-size: 1.5rem;
	transition: all 200ms ease;
}
._social-link a:visited {
	color: #111;
}
._social-link a:hover {
	color: hotpink;
	font-size: 1.75rem;
}
/**a**/
  div {
	color: #ebc4cd;
	text-align: center;
	font-size: 40px;
  }
  
  p {
	margin: 16px;
	font-size: 126px;
	color: #ccc;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 1s ease-in-out;
	position: relative;
  
	&::before {
	  content: attr(data-item);
	  transition: all 1s ease-in-out;
	  color: #50dda7;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  width: 0;
	  overflow: hidden;
	}
  
	&:hover {
	  &::before {
		width: 100%;
	  }
	}
  }
  
  nav {
	margin: 25px;
	padding: 16px;
	.menuItems {
	  list-style: none;
	  display: flex;
	}
	}
	  li {
		padding: 1rem 2rem 1.15rem;
	  	text-transform: uppercase;
	  	cursor: pointer;
		min-width: 80px;
		margin: auto;
	}
	
	li:hover {
		background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
		background-size: 100% 100%;
		color: #27262c;
		animation: spring 300ms ease-out;
		text-shadow: 0 -1px 0 #cc5281;
		font-weight: bold;
	}
	li:active {
	  transform: translateY(4px);
	}
	
	@keyframes spring {
	  15% {
		-webkit-transform-origin: center center;
		-webkit-transform: scale(1.2, 1.1);
	  }
	  40% {
		-webkit-transform-origin: center center;
		-webkit-transform: scale(0.95, 0.95);
	  }
	  75% {
		-webkit-transform-origin: center center;
		-webkit-transform: scale(1.05, 1);
	  }
	  100% {
		-webkit-transform-origin: center center;
		-webkit-transform: scale(1, 1);
	  }
	}
	
	a {
		--fill-color: #ffffff;
		position: relative;
		display: block;
		padding: 4px 0;
		font: 700 3rem Raleway, sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-text-stroke: 2px var(--fill-color);
		background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
		color: transparent;
		background-clip: text;
		transition: 0.5s linear;
			&:hover {
			background-size: 100%;
		}
	}