body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color:black;
    background-color:rgb(199, 89, 107);

}

header {
    text-align: center;
}

#saludo {
    font-size: 120%;
    font-weight: bold;
}

.titulo{
    border: rgb(161, 61, 78) 8px inset;
    border-width: 10px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 270%
}

.dibujos {
    display:flex;
    justify-content: center;
}

h3 {
    font-size: 120%;
}

#habilidades {
    font-size: 100%;
    font-weight: bold;
}

#contacto {
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0%;
}

.imagen{
    padding:15px;
    width:350px ;
}

.datos {
    background-color:pink;
    padding: 20px;
    border-radius: 5px;
}

